<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORIZONKART</title>
    <link rel="stylesheet" href="/signin.css">
    <script src="/script.js"></script>
</head>
<body>
  <main>
    <div class="loginuser" id="loginuser">
        <form id="loginUser" action="/" method="get">
        <div class="container">
          <h2 class="note" id="note">Login, if you are the Already-Exisiting Users</h2>
    
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username1" id="username1" required/>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password1" id="password1" required/>
      
          <br>

          <p></p>

          <input type="submit" value="Login" id="submitbtn" class="registerbtn">

        </div>

      </form>

      <p></p>
      
      <a href="/" id="cancelbtn" class="cancelbtn"><b>Cancel</b></a>

      <p></p>

      <div class="container-signup">
        <p></p>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
    </div>
  </main>
</body>
</html>