*{
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  text-align: left;
}

.loginuser{
  border: 3px solid #000;
  padding: 20px;
}

body { 
  width: 60vw; 
  min-width: 360px; 
  text-align: center; 
  margin: 5% auto;
} 

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-decoration: none;
}

.cancelbtn {
  background-color: rgb(248, 33, 33);
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-decoration: none;
}

.registerbtn:hover {
  opacity:1;
}


.container-signup{
  padding-top: 10px;
}


